<header class="main-mobile-header">

      <nav class="navbar-mobile-box">
        <% if user_signed_in? %>
            <div class="navbar-mobile">        
                <%= link_to('BROWSE', categories_path) %> 
                <%= link_to('NEW', new_item_path) %> 
                <div class='mobile-logo-box'>
                    <%= link_to image_tag('LendR_logo_grey.png', width: 80), items_path, :alt => "View All" %>
                </div>
                <%= link_to('PROFILE', dashboard_path) %> 
                <%= link_to('LOGOUT', destroy_user_session_path, method: :delete) %> 
            </div>
          <% else %>
            <div class="navbar-mobile">
                <%= link_to('BROWSE', categories_path) %> 
                <%= link_to('VIEW ALL', items_path) %> 
                <div class='mobile-logo-box'>
                    <%= link_to image_tag('LendR_logo_grey.png', width: 80), root_path, :alt => "Home Page" %>
                </div>
                <%= link_to('LOGIN', new_user_session_path) %> 
                <%= link_to('SIGN UP', new_user_registration_path) %> 
            </div>
        <% end %>
          
      </nav>
</header>