<h2>LOG IN.</h2>

<div class='login-form'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
      <%= f.label :email %><br />
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", required: true %>
      <%= f.label :password %><br />
    </div>

    <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <p><%= f.button :LOGIN, type: :submit %></p>
    </div>
  <% end %>         
</div>


<%= render "devise/shared/links" %>
