<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Terms</th>
      <th>Price</th>
      <th>Pickup time</th>
      <th>Street</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>
      <%# Add Thumbnail Image Column Label %>
      <th>Preview</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.terms %></td>
        <td><%= item.price %></td>
        <td><%= item.pickup_time %></td>
        <td><%= item.street %></td>
        <td><%= item.suburb %></td>
        <td><%= item.state %></td>
        <td><%= item.postcode %></td>
        <%# Lendr: Display Image as Thumbnail for each Item %>
        <td><%= image_tag item.image, width: '80' %> </td>
        <td><%= link_to 'Show', item %></td>
        <%# Lendr: Set condition to only display if Item User (Owner) is logged in as currrent user %>
        <% if item.user == current_user %>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
