<!DOCTYPE html>
<html>
  <head>
    <title>Lendrapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# Lendr: Add Navigation links to appear on every view %>

    <div class='home-logo-box'>
      <%= link_to image_tag('https://vectr.com/tbluebox/doywHHLE.svg?width=640&height=640&select=b2aib1kYa7', width: 80), root_path, :alt => "Home Page" %>
    </div>

    <nav>
      <% if user_signed_in? %>
        <%= link_to('Browse', categories_path) %>
        <%= link_to('View All', items_path) %>
        <%= link_to('Post New', new_item_path) %>
        <%= link_to('Dashboard', dashboard_path) %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to('Welcome', root_path) %>
        <%= link_to('Browse', categories_path) %>
        <%= link_to('View All', items_path) %>
      <% end %>
    </nav>

    <%= yield %>


  </body>
</html>
